{% extends 'base.html' %}
{% load tailwind_tags %}

{% block title %}
{{ user.user_name }}
{% endblock title %}

{% block css_files %}
{% tailwind_css %}
{% endblock css_files %}

{% block content %}
<div class="grid place-items-center bg-teal-600">
    <h1 class="text-3xl text-gray-900 dark:text-black ">{{ user.user_name }}</h1>
</div>

<div class="container mx-auto">
    <div class="grid lg:grid-cols-3 gap-6">

        {% comment "for email" %}{% endcomment %}
        <div>
            <a href="mailto:{{user.professional_email}}"><button type="button"
                    class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">Email</button></a>
            <h2>{{ user.professional_email }}</h2>
        </div>

        {% comment "for linkedin" %}{% endcomment %}
        <div>
            <a href="https://www.linkedin.com/in/{{user.linkedin_url}}" target="_blank"><button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Linkedin</button></a>
            <h2>@{{ user.linkedin_handle }}</h2>
        </div>

        {% comment "for github" %}{% endcomment %}
        <div>
            <a href="{{user.github_url}}" target="_blank"><button type="button"
                    class="inline-block px-6 py-2.5 bg-gray-800 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out">Github</button></a>
            <h2>@{{ user.github_handle }}</h2>
        </div>

        {% comment "for leetcode" %}{% endcomment %}
        <div>
            <a href="https://leetcode.com/{{user.leetcode_handle}}" target="_blank"><button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out">Leetcode</button></a>
            <h2>@{{ user.leetcode_handle }}</h2>
        </div>

        {% comment "for hackerrank" %}{% endcomment %}
        <div>
            <a href="https://www.hackerrank.com/{{user.hackerrank_handle}}" target="_blank"><button type="button"
                    class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out">HackerRank</button></a>
            <h2>{{ user.hackerrank_handle }}</h2>
        </div>

        {% comment "for hackerearth" %}{% endcomment %}
        <div>
            <a href="https://www.hackerearth.com/{{user.hackerearth_handle}}" target="_blank"><button type="button"
                    class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out">HackerEarth</button></a>
            <h2>{{ user.hackerearth_handle }}</h2>
        </div>

    </div>
</div>

<div class="container">
    <div>
        <hr>
        <h2>Github Contribution Graph: ({{ user.user_name }})</h2>
        <!-- Include the library. -->
        <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
        </script>

        <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
        <link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" />

        <!-- Prepare a container for your calendar. -->
        <div class="calendar">
            <!-- Loading stuff -->
            Loading the data just for you.
        </div>

        <script>
            GitHubCalendar(".calendar", "{{ user.github_handle }}");

            // or enable responsive functionality:
            GitHubCalendar(".calendar", "{{ user.github_handle }}", { responsive: true });

            // Use a proxy
            GitHubCalendar(".calendar", "{{ user.github_handle }}", {
                proxy(username) {
                    return fetch(`https://your-proxy.com/github?user=${username}`)
                }
            }).then(r => r.text())
        </script>
        <hr>
    </div>
</div>

<div class="container ">
    <h1 class = "text-8xl">Leetcode Stats</h1>
        <hr>
    {% if leetcode_stats.error == None %}
        <div class="grid lg:grid-cols-3 gap-6">
        <p class = "font-bold">Easy Solved: {{ leetcode_stats.easy }}</p>
        <p class = "font-bold">Medium Solved: {{ leetcode_stats.medium }}</p>
        <p class = "font-bold">Hard Solved: {{ leetcode_stats.hard }}</p>
        <p class = "font-bold">Total Solved: {{ leetcode_stats.totalSolved }}</p>
        <p class = "font-bold">Rank: {{ leetcode_stats.rank }}</p>
        <p class = "font-bold">Total Submissions (this year): {{ leetcode_stats.total_submissions_this_year }}</p>
    </div>
    {% else %}
        <p class ="font-bold">Leetcode data is not available, please check leetcode handle</p>
    {% endif %}
    <hr>
</div>

<h1>Below are the list of projects made by me:</h1>
{% for project in user.projectlist_set.all %}
<div class="project_list_item">
    <li>Project Name: {{ project.project_name }}</li>
    <li>About: {{ project.project_desc }}</li>
    <li>Click here to view the code: {{ project.project_link }}</li>
</div>
{% endfor %}
<hr><br>
{% endblock content %}