{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}

{% block title %}
{{ user.user_name }}
{% endblock title %}

{% block css_files %}
{% tailwind_css %}
{% endblock css_files %}

{% block content %}
<div class="grid grid-cols-2">
    <img class="mx-auto h-20 w-22 transition-shadow ease-in-out duration-300 hover:shadow-2xl rounded-full" src="{{ user.user_image.url }}" alt="">
    <h1 class="text-3xl text-gray-900 dark:text-black ">{{ user.user_name }}</h1>
</div>

<div class="container mx-auto">
    <div class="grid lg:grid-cols-3 gap-6">

        {% comment "for email" %}{% endcomment %}
        <div>
            <a href="mailto:{{user.professional_email}}"><img class="mx-auto h-14" src="{% static 'platform_logos/gmail.svg' %}" alt=""></a>
            <h2 class="text-center">{{ user.professional_email }}</h2>
        </div>

        {% comment "for linkedin" %}{% endcomment %}
        <div>
            <a href="https://www.linkedin.com/in/{{user.linkedin_url}}" target="_blank"><img class="mx-auto h-14" src="{% static 'platform_logos/linkedin.svg' %}" alt=""></a>
            <h2 class="text-center">{{ user.linkedin_handle }}</h2>
        </div>


        {% comment "for github" %}{% endcomment %}
        <div>
            <a href="https://github.com/{{ user.github_handle }}" target="_blank"><img class="mx-auto h-14" src="{% static 'platform_logos/github.png' %}" alt=""></a>
            <h2 class="text-center">@{{ user.github_handle }}</h2>
        </div>

        {% comment "for leetcode" %}{% endcomment %}
        <div>
            <a href="https://leetcode.com/{{user.leetcode_handle}}" target="_blank"><img class="mx-auto h-14" src="{% static 'platform_logos/leetcode.png' %}" alt=""></a>
            <h2 class="text-center">@{{ user.leetcode_handle }}</h2>
        </div>

        {% comment "for hackerrank" %}{% endcomment %}
        <div>
            <a href="https://www.hackerrank.com/{{user.hackerrank_handle}}" target="_blank"><img class="mx-auto h-14" src="{% static 'platform_logos/hackerrank.png' %}" alt=""></a>
            <h2 class="text-center">@{{ user.hackerrank_handle }}</h2>
        </div>

        {% comment "for hackerearth" %}{% endcomment %}
        <div>
            <a href="https://www.hackerearth.com/{{user.hackerearth_handle}}" target="_blank"><img class="mx-auto h-14" src="{% static 'platform_logos/hackerearth.png' %}" alt=""></a>
            <h2 class="text-center">@{{ user.hackerearth_handle }}</h2>
        </div>

    </div>
</div>


<p class="text-center font-bold text-5xl">Leetcode Stats</p>
{% if leetcode_stats.error == None %}
<div class="grid lg:grid-cols-3 gap-4 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    <p class="font-bold">Easy Solved: {{ leetcode_stats.easy }}</p>
    <p class="font-bold">Medium Solved: {{ leetcode_stats.medium }}</p>
    <p class="font-bold">Hard Solved: {{ leetcode_stats.hard }}</p>
    <p class="font-bold">Total Solved: {{ leetcode_stats.totalSolved }}</p>
    <p class="font-bold">Rank: {{ leetcode_stats.rank }}</p>
    <p class="font-bold">Total Submissions (this year): {{ leetcode_stats.total_submissions_this_year }}</p>
</div>
{% else %}
<p class="font-bold">Leetcode data is not available, please check leetcode handle</p>
{% endif %}

<h2 class="text-center font-bold text-5xl">Below are the list of projects made by me:</h2>
<div class="grid grid-cols-3 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    {% for project in user.projectlist_set.all %}
    <div>
        <p class="font-bold text-2xl">{{ project.project_name }}</p>
        <li>About: {{ project.project_desc }}</li>
        <li>Click here to view the code: {{ project.project_link }}</li>
    </div>
    {% endfor %}
</div>

<h2 class="text-center font-bold text-5xl">Technologies I have worked with</h2>

<div class="grid grid-cols-4">
    {% for tech in user.tech_worked_with.all %}
    <div class="object-center bg-blend backdrop-blur-md">
        <img class="mx-auto animate-bounce h-16" src="{{ tech.tech_logo.url }}" alt="">
        <p class="font-bold text-2xl text-center">{{ tech.tech_name }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}