{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project List
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'all_projects_list/index.css' %}">
{% endblock css_files %}
    
{% block content %}
{% for item in project_list %}
    <div class ="project_list_item">
        <li>Project Name: {{ item.project_name }}</li>
        <li>About: {{ item.project_desc }}</li>
        <li>Click here to view the code: {{ item.project_link }}</li>
        <a href="{% url 'show-user' item.belongs_to.slug %}"><button>Show User</button></a>
    </div>
{% endfor %}
<a href="{% url 'add-new-project' %}"><button name = "new_project">Add New Project Details</button></a>
{% endblock content %}