{% extends 'base.html' %}
{% load tailwind_tags %}
{% load static %}

{% block title %}
Project List
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'all_projects_list/index.css' %}">
{% tailwind_css %}
{% endblock css_files %}

{% block content %}

{% include 'includes/navbar.html' %}


{% for item in project_list %}


<div class="p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">{{ item.project_name }}</h5>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">{{ item.project_desc }}</p>
    <div class="items-center justify-center justify-items-center flex flex-wrap">
            {% for tech_logo in item.technologies_used.all %}
            <img class="h-12 m-3" src="{{ tech_logo.tech_logo.url }}" alt="">
            {% endfor %}
    </div>
    <div class="grid grid-flow-col m-0 mt-10 mb-0 justify-center items-center">
        <img class="h-12 w-22 rounded-full" src="{{ item.belongs_to.user_image.url }}" alt="">
        <a class="text-white ml-3" href="{% url 'show-user' item.belongs_to.slug %}">Show Creator({{item.belongs_to.user_name }})</a>
    </div>
</div>

{% endfor %}
{% endblock content %}